@import './styles/_variables.scss';

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 5;
  padding: 0;
  color: $primary-text-color;
  /* background: lightgrey; */
  text-align: center;
  // font-weight: bold;
}

input {
  background: transparent;
  border: 1px solid $primary-text-color;
  border-radius: 6px;
  height: 24px;
}

.app-container {
  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  grid-template-columns: 150px 100%;

  margin: 0;
  height: 100%;
  width: 100%;
}

#outlet-container {
  overflow-y: scroll;
  background-image: url('../public/Mtn-PNG.png');
  background-color: $background-color;
  background-repeat: no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  width: 100%;
  height: 100%;
}

#nav {
  background-color: $accent-color;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.mainContainer {
  overflow-y: scroll;
  background-color: transparent;
}

.sort-container {

}

#navText {
  /* display: flex;
  justify-content: center;
  background: transparent;
  color: black;
  margin-right: 50px;
  margin-left: 50px; */
}

#navSignup {
  /* margin-right: 10.5%;
  margin-top: 0.9%;
  font-size: 150%;
  position: relative;
  float: right;
  box-shadow: 2px 2px 5px;
  background: transparent;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  text-decoration: none;
  padding: 3px;
  padding-top:7px;
  justify-content: right;
  align-items: center;
  height: 50px;
  width: 130px; */

  /* position: fixed;
    right: 300px; */
}

#eventContainer {
  // border: 2px solid black;
  // margin-left: auto;
  // margin-right: auto;
  // margin-top: 8em;
  // background: rgb(245, 227, 204);
  // width: 60%;
  // height: 30em;
  // box-shadow: 10px 10px rgba(34, 34, 34, 0.363);
  // border-radius: 10px;
  // color: white;

}

// #eventFields {
//     margin-right: 10px;
//     margin-bottom: 20px;
// }

// #submitButton {
//   width: 10em;
//   height: 2em;
// }

// #signupEventButton {
//     font-size: auto;
//     padding-left: 10px;
//     padding-right:10px;
//     padding-top: 2px;
//     padding-bottom: 2px;

//     margin-left: 35%;
//     background-color: rgba(130, 130, 130, 0.5);
//     margin-bottom: 1%;
//     box-shadow: 2px 2px 5px;
//     border-radius: 6px;
// }

// #commentButton {
//         font-size: 1.5em;
//         box-shadow: 2px 2px 5px;
//       background-color: rgba(130, 130, 130, 0.5);
//       padding-left: 10px;
//     padding-right:10px;
//     padding-top: 2px;
//     padding-bottom: 2px;
//     border-radius: 6px;
//     }

// #dropDown {
//   font-size: 1.5em;
//   width:100px;
//   background-color: rgba(130, 130, 130, 0.5)
// }

// #signUpInput {
//     margin-left: 30px;
//     height: 40px;
//     border-radius: 6px;
//     margin-bottom: 10px;
// }

// #sortText {
//   font-size: 1.5em;
// }

// /* Hover properties */
// #viewParticipants:hover {
//     cursor: pointer;
//         }
// #commentButton:hover {
//     cursor: pointer;
//         }
// #signupEventButton:hover {
//     cursor: pointer;
//         }
// #submitButton:hover {
//     cursor: pointer;
//         }

//         .mainContainer::-webkit-scrollbar {
//             width: 12px;               /* width of the entire scrollbar */
//           }
          
//           .mainContainer::-webkit-scrollbar-track {
//             background: rgba(240, 239, 238, 0.5);
//                /* color of the tracking area */
//           }
          
//           .mainContainer::-webkit-scrollbar-thumb {
//             background-color: rgb(65, 65, 70);    /* color of the scroll thumb */
//             border-radius: 20px;       /* roundness of the scroll thumb */
//             border: 3px solid rgb(255, 255, 255);  /* creates padding around scroll thumb */
//           }