@import './_variables.scss';

.eventBox {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 2px;
    padding-top: 10px;
    background-color: rgba($background-color, 0.5);
    background-image: none;
    border: 1px solid $accent-color;
    border-radius: 6px;
    
    margin-bottom: 10px;
  }

  .event-box-rows {
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 24px;
  }

  .event-box-label {
    font-weight: bold;
  }